<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.milosvalovic.sigfoxparking">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_parking_sign"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_parking_sign"
        android:supportsRtl="true"
        android:theme="@style/Theme.SigfoxParking">
        <receiver android:name=".activities.ParkingWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity android:name=".activities.reservation.MyReservationsActivity" />
        <activity android:name=".activities.main.ARActivity" />
        <activity android:name=".activities.reservation.AddCarActivity" />
        <activity android:name=".activities.auth.RegistrationActivity" />
        <activity android:name=".activities.auth.LoginActivity" />
        <activity android:name=".activities.reservation.ReservationActivity" />
        <activity android:name=".activities.main.ParkingLotActivity" />
        <activity android:name=".activities.main.CitySearchActivity" />
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <service
            android:name=".classes.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_parking_sign" />
    </application>

</manifest>